.paymentmethodh_btn{
    width: 40%;
    background-color: white;
    border: 1px solid #D3D3D3;
    height: 50px;
    text-align: left;
    margin-left: 30px;
    padding-left: 20px;
}
.paymentmethodh{
    margin-left: 300px;
    margin-top: 50px;
    color: #5D5FEF;
}